<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EasyGoing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FB69F191D73CA2B00859883</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB69F2D1D73CA2B00859883</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB69F381D73CA2B00859883</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
